:root {
  --lightGrayishCyan: hsl(180, 52%, 96%);
  --lightGrayishFilter: hsl(180, 31%, 95%);
  --darkGrayishCyan: hsl(180, 8%, 52%);
  --veryDarkGrayishCyan: hsl(180, 14%, 20%);
  --desaturatedDarkCyan: hsl(180, 29%, 50%);
  --buttonBgColor: #effafa;
  --just-white: #fff;

  --just-black: #000;
  --bg_headerMobile: url('./assets/images/bg-header-mobile.svg');
  --bg_headerDesktop: url('./assets/images/bg-header-desktop.svg');
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  background-color: #effafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
